*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.grid-container{
    display:grid;
    grid-template-columns: 20% 50% 30%;
    background-color: rgb(186, 196, 209);
}
.grid-items{
    border:2px solid black;

}
.navbar, .img, .ftr, .cpy{
    
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
}
.navbar {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background: #333;  
    padding: 10px 20px;  
}  

.navbar .logo a {  
    color: #fff;  
    text-decoration: none;  
    font-size: 24px;  
    font-weight: bold;  
}  

.nav-links {  
    list-style: none;  
    display: flex;  
}  

.nav-links li {  
    margin: 0 15px;  
}  

.nav-links a {  
    color: #fff;  
    text-decoration: none;  
    transition: color 0.3s;  
}  

.nav-links a:hover {  
    color: #ff6347; /* tomato color on hover */  
}  
.abt{
    display: flex;
    height: 200px;
    color: #fff;
    background-color: #333;
    justify-content: center;
    align-items: center;
}

  
.cpy{
    margin-top: 10px;  
    background-color: #333;
    justify-content: center;
    align-items: center;
}